body{
    font-family: 'Montserrat', sans-serif;
    background: #F3F5FC;
}/*body funcional*/
.contenedor{
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
header{
    margin: 20px 0;
}/*header Funcional*/
main{
    display: flex;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}
.rectangulo{
    display: flex;
    justify-content: center;
    width: 25%;
    height: 70%;
    position: absolute;
    top: auto;
    right: 10%;

}
#imgRect {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.contenedorResultado{
    display: flex;
    justify-content: center;
    position:absolute;
    bottom: 30%;
    width: 100%;
    height: auto;
}
#figMuñeco{
    object-fit: cover;
    width: 90%;
    height: 25%;
}

.contenedorResultado label{
    font-size: 1em;
    font-weight: bold;

}
.contenedorMuñeco{
    align-self: center;
    text-align: center;
}
.contenedorMuñeco p{
    font-style: italic;
    font-weight: bold;
    font-size: 1em;
}
#btnCopiar{
    background: #FFFFFF;
    color: #0A3871;
    padding: 0px;
    gap: 24px;

    bottom: 10%;
    position: absolute;
    width: 40%;
    height: 67px;
}
.btns{
    width: 328px;
    height: 67px;
    border-radius: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}


#btnCopiar:hover{
    cursor:pointer;
    background: #ffffff8c;
    transform: scale(1.1);
    
}
.form{
    width: 50%;
    height: auto;
    background: none;
    position: absolute;
    top: 20%;
    left: 10%;
}
.form input{
    width: 100%;
    height: 100%;
    background: none;
    color: #0A3871;
    padding-top: 20px;
    border: none;
    outline: 0px;
    font-size: 2em;
}
.contenedorAviso{
    display: flex;
    align-items: center;
    position: absolute;
    width: 20%;
    height: 18px;
    left: 19%;
    top: 70%;
}
.avisoMinus{
    font-size: 12px;
    line-height: 150%;
}
.contenedorBotones{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    position: absolute;
    width: 40%;
    height: 67px;
    left: 20%;
    top: 80%;
}
#btnEncriptador{
    background: #0A3871;
    color: #FFFFFF;
    
}
#btnEncriptador:hover{
    cursor:pointer;
    background: #7f9afa;
    transform: scale(1.1);
}
#btnDesencriptador{
    background: #FFFFFF;
    color: #0A3871;
}
#btnDesencriptador:hover{
    cursor:pointer;
    background: #ffffff8c;
    transform: scale(1.1);
}


footer{
    text-align: center;
  
    padding: 40px;
}

@media  screen and (max-width:480px) {
    main{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        position: relative;
    }
    .form{
        position: inherit;
        width: 100%;
        height: auto;
        background: none;
        align-self: center;
        left: 0%;
    }
    .rectangulo{
        position: inherit;
        width: 100%;
        height: 480px;
        align-self: center;
        right: 0%;
        
    }
    #figMuñeco{
        width: 0%;
        height: 0%;
    visibility: hidden;
    }
    .contenedorAviso{
        display: flex;
        align-items: center;
        position: relative;
        width: 20%;
        height: 18px;
        left: 0%;
        padding: 2em;
    }
    .contenedorBotones{
        position: relative;
        left: 0%;
        padding: 2em;
    }
}